{% extends "base.html" %} {% block content %}
<div class="col-md-8">
    <h1 class="my-4">
        <small></small>
    </h1>
    {% for post in posts %}
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap" />
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.description }}</p>
            <a href="{% url 'post' post.post_id  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">Posted on {{ post.updated_at }} by<span style="color: #007bff;"> {{ post.author }}</span></div>
    </div>
    {% endfor %}

    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>
{% endblock content %}
